        /* google font */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
            background: url(images/bg-image.jpg) no-repeat;
            background-size: cover;
            height: 100vh;
            
        }
        .heading {
        text-align: center;
        margin-top: 60px;
        color: #fff;
        }
        .heading h2 {
        letter-spacing: 5px;
        font-weight: 700;
        }
        .heading p {
        margin: 15px 0px;
        font-weight: 600;
        text-transform: capitalize;
        }
        #error-message{
            display: none;
            font-weight: 600;
            text-transform: capitalize;
        }
        
        .weather-detail img {
        background: #f0ffff82;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 20px;
        }